*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Sora', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color-negro-texto: #1C1A31;
    --color-morado-boton: #5E239D;
    --color-rosa-hover: #F61067;
    --color-blanco-fondo: #F4F4ED;
    --color-verde-links: #00F0B5;
}

header {
    height: auto;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--color-rosa-hover);
}

header > p {
    max-width: 600px;
    margin: auto;
}

nav {
    height: 4em;
    margin: 2em;
    background-color: var(--color-blanco-fondo);
    border: 2px solid #1C1A31;
    border-radius: 50px;

    display: block;
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 1em;
}

#logo {
    float: left;
    width: 30%;
    align-content: flex-start;
    margin-top: 0.4em;
}

#logo > img {
    height: 3em;
}

#menu > ul {
    width: 70%;
    height: 3em;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0em;
    margin-top: 0.4em;
}

#menu > ul > li {
    list-style: none;
}

#menu > ul > li > button {
    height: 2em;
    padding: 0 1em;
    background-color: #F61067;
    border: 2px solid #F61067;
    border-radius: 50px;
}

#menu > ul > li > button > a {
    color: var(--color-blanco-fondo);
    text-decoration: none;
}

#menu > ul > li > button:hover {
    background-color: var(--color-blanco-fondo);

}

#menu > ul > li > button:hover > a {
    color: var(--color-rosa-hover);
    font-weight: bold;
}

#menu > ul > li > a,
#menu > ul > li > i {
    color: var(--color-negro-texto);
    text-decoration: none;
}

#menu > ul > li:last-child {
    display: none;
}

.toggle_menu {
    display: none;
}

.toggle_menu > ul {
    margin: 1em 0;
    width: 50%;
    float: right;

    display: flex;
    flex-direction: column;
}

.toggle_menu > ul > li {
    background-color: var(--color-blanco-fondo);
    border: 2px solid #1C1A31;
    border-radius: 50px;
    list-style: none;

    height: 3em;
    margin: 0.5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle_menu > ul > li > a {
    
    text-decoration: none;
    margin: 0 2em;
    color: var(--color-negro-texto);
}

.toggle_menu > ul > li:hover > a,
#menu > ul > li:hover > a {
    font-weight: bold;
}


/* MEDIA QUERIES */

@media screen and (max-width: 700px) {

    #menu > ul > li:last-child {
        display: block;
    }

    #menu > ul > li:not(:last-child) {
        display: none;
    }

    #menu > ul {
        height: auto;
        padding: 1em;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 0em;
    }

    #menu > ul > li {
        margin: 0.2em 0;
    }
}