*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Sora', sans-serif;
    scroll-behavior: smooth;
    color: #1C1A31;
}

:root {
    --color-negro-texto: #1C1A31;
    --color-morado-boton: #5E239D;
    --color-rosa-hover: #F61067;
    --color-blanco-fondo: #F4F4ED;
    --color-verde-links: #00F0B5;
}

body{
    background-color: #F4F4ED;
}

.sectionaboutus{
    display: flex;
    flex-direction: row;
    margin: 3em;
}

.aboutustext{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.aboutustext h1{
    font-weight: 800;
    font-size:5em;
    margin-block-end: 0em;
    margin-block-start: 0em;
    display: inline-block;
    vertical-align: baseline;
    margin: 0;
    margin-bottom: 1em;
}

.aboutustext img{
    width: 70px;
    margin-left: 0.3em;
    vertical-align: baseline;
}

.aboutustext p{
    margin-right: 5em;
    font-size: 1.2em;
}

.churrourban{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.imagen_fondo{
background-image: url(../media/img/fachada.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: 30em;
}


.titulo_banner{
    color: #F4F4ED;
    text-align: center;
    margin: 0;
}

.botonparallax{
text-align: center;
padding-top: 12.5em;
}

.botonparallax button{
    width: 15em;
    height: 3em;
    border-radius: 2em;
}

.btn-outline-secondary{
    background-color: #F61067;
    color: #F4F4ED;
    border-style: none;
}

.btn-outline-secondary:hover{
    background-color: #F4F4ED;
    color: #F61067;
    border-style: solid;
    border-color: #F61067;
    border-width: 2px;

   
}

.botonparallax img{
    width: 20px;
    margin-left:0.7em;
    color: #F4F4ED;
    
}

.btn-outline-secondary:hover img {
    /* Filtro para cambiar el color a rojo cuando haces hover */
    filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(7475%) hue-rotate(0deg) brightness(95%) contrast(105%);
}


  /* carruselgaleria */

.sectionreview {
    padding: 70px 0;
	height: 100vh;
}

.carrusel{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.sectionreview h2{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}



