* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Sora", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --color-negro-texto: #1c1a31;
  --color-morado-boton: #5e239d;
  --color-rosa-hover: #f61067;
  --color-blanco-fondo: #f4f4ed;
  --color-verde-links: #00f0b5;
}

body {
  background-color: var(--color-blanco-fondo);
}

/* CÓDIGO DEL NAV >>>>>>>>>>>>>>>>>>>>>>>>>*/

nav {
  height: 4em;
  margin: 2em;
  background-color: var(--color-blanco-fondo);
  border: 2px solid var(--color-negro-texto); 
  border-radius: 50px;

  display: block;
  z-index: 999;
}

#menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 1em;
}

#logo {
  float: left;
  width: 30%;
  align-content: flex-start;
  margin-top: 0.4em;
}

#logo > img {
  height: 5em;
  position: absolute;
  top: 3em;
  left: 70px;
}

#menu > ul {
  width: 70%;
  height: 3em;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0em;
  margin-top: 0.4em;
}

#menu > ul > li {
  list-style: none;
}

#menu > ul > li > button {
  height: 2em;
  padding: 0 1em;
  background-color: #f61067; 
  border: 2px solid #f61067;
  border-radius: 50px;
}

#menu > ul > li > button > a {
  color: var(--color-blanco-fondo);
  text-decoration: none;
}

#menu > ul > li > button:hover {
  background-color: var(--color-blanco-fondo);
}

#menu > ul > li > button:hover > a {
  color: var(--color-rosa-hover);
  font-weight: bold;
}

#menu > ul > li > a,
#menu > ul > li > i {
  color: var(--color-negro-texto);
  text-decoration: none;
}

#menu > ul > li:last-child {
  display: none;
}

.toggle_menu {
  display: none;
}

.toggle_menu > ul {
  margin: 1em 0;
  width: 50%;
  float: right;

  display: flex;
  flex-direction: column;
}

.toggle_menu > ul > li {
  background-color: var(--color-blanco-fondo);
  border: 2px solid #1c1a31;
  border-radius: 50px;
  list-style: none;

  height: 3em;
  margin: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle_menu > ul > li > a {
  text-decoration: none;
  margin: 0 2em;
  color: var(--color-negro-texto);
}

.toggle_menu > ul > li:hover > a,
#menu > ul > li:hover > a {
  font-weight: bold;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.sectionaboutus {
  display: flex;
  flex-direction: row;
  margin: 0vw 4vw 4vw;
}

.infoaboutus {
  width: 60%;
}


.aboutustitle {
  margin: 0vw 4vw;
}

.aboutustitle p {
  color: #1c1a31;
}

.aboutustitle h1 {
  font-weight: 800;
  font-size: 7vw;
  margin-block-end: 0em;
  margin-block-start: 0em;
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  margin-bottom: 0.4em;
}

.aboutustitle p {
  margin: 4vw;
  font-size: 1.2em;
}

.infoaboutus p {
  color: #1c1a31;
  margin: 2vw 6vw;
}

.aboutustitle img,
.ubicationtitle img {
  width: 10vw;
  margin-left: 0.3em;
  vertical-align: text-bottom;
}

.churrourban {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#churrourbanVideo {
  width: 100%;
  height: 100%; /* Cambia esta línea para que el video ocupe toda la altura */
  object-fit: cover;
}

.imagen_fondo {
  background-image: url(../media/img/fachada.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 35em;
  margin-bottom: 6em;
  background-position: center;
}

h1:hover {
  color: var(--color-rosa-hover);
  text-shadow: 0 0 7px #f4f4ed, 0 0 10px #f4f4ed, 0 0 21px #f4f4ed,
    0 0 22px #f61067, 0 0 42px #f61067, 0 0 32px #f61067, 0 0 42px #f61067,
    0 0 81px #f61067;
}

.reviews h2 {
  margin-bottom: 1.2em;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
  font-size: 1.7vw;
}

.botonparallax {
  text-align: center;
  padding-top: 14.5em;
}

.botonparallax button {
  width: 15em;
  height: 3em;
  border-radius: 2em;
}

.btn-outline-secondary {
  background-color: #f61067;
  color: #f4f4ed;
  border-style: none;
  border-radius: 30px;
  font-size: 1.6rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.btn-outline-secondary:hover {
  background-color: #f4f4ed;
  color: #f61067;
  border-style: solid;
  border-color: #f61067;
  border-width: 2px;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.7); /* Efecto de brillo al hacer hover */
}

.botonparallax img {
  width: 20px;
  margin-left: 0.7em;
  color: var(--color-blanco-fondo);
}

.btn-outline-secondary:hover img {
  /* Filtro para cambiar el color a rojo cuando haces hover */
  filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(7475%)
    hue-rotate(0deg) brightness(95%) contrast(105%);
}

/* carrusel */

.reviews {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 8em;
}

.wrapper {
  width: 100%;
  display: flex;
}

.owl-carousel .owl-item img {
  display: block;
  width: 80%;
  margin-bottom: 0.8em;
}

.wrapper .carousel {
  position: relative;
  max-width: 1000px;
  margin: auto;
  padding: 0 60px;
}

.carousel .card {
  border-radius: 25px;
  align-items: center;
  background-color: var(--color-verde-links);
  padding: 3em;
}

.card img {
  max-width: 7em; /* Ajusta el valor según tus necesidades */
  height: auto; /* Mantiene la proporción de la imagen */
}

.card p {
  margin-bottom: 0em;
}

.card p {
  margin-bottom: 0.5em;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  margin: 0 5px;
  border: 2px solid #f61067 !important;
  transition: all 0.3s ease;
}

.owl-dot:hover,
.owl-dot.active {
  background-color: #f61067 !important;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
}

.owl-prev {
  left: 38px;
}

.owl-next {
  right: 8px;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 50px;
  color: #bfbfbf;
  transition: all 0.2s;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
  color: #f61067;
  transform: scale(1.1);
}

.card {
  position: relative;
  overflow: hidden;
}

.card:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

/* EFECTO BRILLO */

.aboutustitle img:hover,
.ubicationtitle img:hover {
  filter: drop-shadow(0 0 5px #f61067) drop-shadow(0 0 10px #f61067)
    drop-shadow(0 0 15px #f61067) drop-shadow(0 0 20px #f61067)
    drop-shadow(
      0 0 10px rgba(255, 255, 255, 0.8)
        /* Trazado difuminado blanco más pronunciado */
    );
}

.card img {
  width: 100%;
  height: auto;
  transition: transform 0.4s;
}

.card:hover img,
.card:hover p,
.card:hover b {
  transform: scale(1.1);
  transition: transform 0.4s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s, transform 0.3s;
}

.overlay p {
  margin: 10px 0;
}

/* ubicación */

.sectionubication {
  display: flex;
  flex-direction: row;
  height: 45vw;
}

.ubicationtitle {
  display: flex;
  border-width: 2px;
  align-items: flex-end;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4em;
}

.infoubication {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  padding: 4vw 4vw 4.5vw 0vw;
  background-color: #5e239d;
  width: 30%;
}

.infoubication p,
a {
  margin-bottom: 0;
  font-size: 1.2vw;
  color: #f4f4ed;
}

.infoubication a {
  color: #f4f4ed;
}

.ubicationtitle > div {
  width: 75%;
}

.ubicationtitle > div > p {
  margin-bottom: 0.2em;
}

.ubicationtitle > div > a {
  color: black;
}

.google-maps {
  display: flex;
  background-color: #5e239d;
  flex-direction: column;
  justify-content: center;
  border-bottom: #000000;
  border-width: 2px;
  width: 70%;
  align-items: center;
  padding: 4vw;
}

.google-maps div {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-maps div iframe {
  height: 35vw;
  width: 60vw;
  border-radius: 25px;
}

/* seccion footer */

.footer {
  display: flex;
  flex-direction: row;
  background-color: var(--color-rosa-hover);
}

.infofooter p{
  color: var(--color-blanco-fondo);
}

.infofooter a{
color: var(--color-blanco-fondo);
}


.redesaboutus {
  height: 40vw;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--color-rosa-hover);
  padding-left: 4em;
}

.redes {
  width: 100%;
  margin-bottom: 6vw;
}

.redes i {
  color: var(--color-blanco-fondo);
  margin-right: 6.7vw;
  width: 4vw;
  font-size: 4vw;
}

.redes i:hover {
  color: var(--color-negro-texto);
  transition: color 0.3s ease;
}

.infofooter {
  display: flex;
  flex-direction: row;
}

.infofooter p {
  margin-bottom: 0.4em;
  font-size: 1vw;
}

.footer-section {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 3vw;
}

.footer-section h5 {
  font-size: 1.2vw;
  color:var(--color-blanco-fondo);
}

.footer-section h5:hover {
  color: var(--color-negro-texto);
  transition: color 0.3s ease;
}


.footer-section p:hover {
  color:var(--color-negro-texto);
  transition: color 0.3s ease;
}

.footer-section a {
  text-decoration: none;
  font-size: 1em;
}

.footer-section a:hover {
  color: var(--color-negro-texto);
  transition: color 0.3s ease;
}

.newsletter_wrapper {
  height: 40vw;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--color-rosa-hover);
  padding-right: 4em;
}

.newsletter_wrapper h2 {
  color: var(--color-blanco-fondo);
  position: relative;
  margin-bottom: 0.3em;
  font-size: 3.2vw;
}

.newsletter_wrapper p {
  color: var(--color-blanco-fondo);
  font-size: 1.5vw;
  line-height: 2.2vw;
  margin: 0;
}

.input-field {
  margin: 1.4em 0em 0.8em 0em;
  opacity: 1;
  width: 24em;
  height: 3em;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  border-radius: 25px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.input-field input {
  border-style: hidden;
  width: 100%;
  margin: 0px 0px 0px 23px;
  background-color: transparent;
}

.input input:focus {
  outline: none; /* Quitar el contorno predeterminado */
  border: none; /* Quitar el borde predeterminado */
}

.enviar button {
  width: 8.7em;
  height: 3em;
  border-style: solid;
  background-color: #f4f4ed;
  border-radius: 25px;
  color: var(--color-rosa-hover);
  border-color: var(--color-rosa-hover);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.enviar button:hover {
  background-color: #00f0b5;
  border-style: solid;
  border-width: 3px;
  color: black;
  border-color: #f4f4ed;
}

/* media queries tablet*/

@media only screen and (max-width: 1150px) {
  .botonparallax button {
    width: 70%;
    border-radius: 2em;
    font-size: 1.4em;
  }

  .infoubication p,
  a {
    margin-bottom: 0;
    font-size: 1.7vw;
    color: #f4f4ed;
  }

  .reviews h2 {
    font-size: 2.7vw;
    margin-bottom: 0.6em;
  }

  .footer {
    display: flex;
    flex-direction: column-reverse;
  }

  .redesaboutus {
    width: 100%;
    padding: 0em;
    margin-bottom: 4em;
  }

  .redes {
    width: 100%;
    margin-bottom: 0;
  }

  .redes i {
    margin: 6vw;
    width: 5vw;
    font-size: 6vw;
  }

  .footer-section {
    margin: 6vw;
  }

  .footer-section h5 {
    font-size: 1.7vw;
  }

  .infofooter p {
    font-size: 1.5vw;
    line-height: 2.9vw;
  }

  .newsletter_wrapper {
    width: 100%;
    height: 70vw;
    padding: 0em;
    margin: 1em 0em 1em 0em;
  }

  .newsletter_wrapper h2 {
    font-size: 5vw;
    margin-bottom: 0.5em;
  }

  .newsletter_wrapper p {
    padding: 0em 9em 0em 9em;
    font-size: 2.2vw;
    line-height: 2.8vw;
  }

  .newsletter p {
    font-size: 2vw;
    line-height: 2.7vw;
  }
}

/* media queries movil */

@media only screen and (max-width: 600px) {
  .aboutustitle h2 {
    font-size: 5vw;
    margin-bottom: 0.7em;
    margin-top: 1em;
  }

  .aboutustitle p {
    font-size: 4vw;
  }

  .sectionaboutus {
    display: flex;
    flex-direction: column-reverse;
  }

  .infoaboutus {
    width: 100%;
  }

  .churrourban {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2em;
  }
  
  .videoaboutus{
    width: 50%;
  }
 

/* imagen fija */
  .imagen_fondo {
    margin-bottom: 5em;
  }

  .btn-outline-secondary {
    background-color: #f61067;
    color: #f4f4ed;
    border-style: none;
    border-radius: 30px;
    margin: 1em;
    font-size: 5.5vw;
  }
  .fa-solid,
  .fas {
    width: 80%;
  }

  .owl-carousel .owl-item img {
    display: block;
    width: 80%;
  }
  .owl-carousel .owl-item img {
    margin-bottom: 1.4em;
  }

  .sectionubication {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .carousel .card {
    padding: 0;
  }
  .owl-carousel .owl-item img {
    width: 65%;
    margin: 1em;
  }

  .no-js .owl-carousel,
  .owl-carousel.owl-loaded {
    display: block;
    margin-top: 1.5em;
  }
  .card:hover img,
  .card:hover p,
  .card:hover b {
    transform: scale(1);
  }

  .videoaboutus {
    height: 150px; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
  }

  .churrourbanVideo {
    width: 50%;
    height: 100%; /* Ajusta la altura al 100% para que el video ocupe toda la altura del contenedor */
    object-fit: cover;
  }

  .botonparallax button {
    width: 80%;
    border-radius: 2em;
    font-size: 1em; /* Ajusta el tamaño del texto dentro del botón según sea necesario */
  }

  .google-maps div iframe {
    height: 85vw;
    width: 80vw;
  }

  .infoubication p,
  a {
    font-size: 3.2vw;
  }

  .infoubication {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0vw 8vw 8vw 8vw;
  }

  .reviews {
    margin-bottom: 6em;
  }

  .google-maps {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 8vw;
  }

  /* footer media queries movil*/

  .redesaboutus {
    margin: 0;
    height: 100%;
  }


  .redes {
    margin-bottom: 0.5em;
    font-size: 12vw;
  }

  .redes i {
    font-size: 7vw;
    margin: 7vw;
  }

  .infofooter {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f61067;
    margin-bottom: 3em;
  }

  .infofooter p {
    font-size: 1.6vw;
  }

  .footer-section {
    margin: 7vw;
  }

  .footer-section h5 {
    font-size: 4.5vw;
    margin-bottom: 1.2em;
  }

  .footer-section p {
    font-size: 0.7em;
    margin-bottom: 1.1em;
  }

  .newsletter_wrapper {
    height: 100%;
    margin-bottom: 5em;
    margin-top: 5em;
  }

  .newsletter_wrapper h2 {
    font-size: 7vw;
    margin-bottom: 0em;
  }

  .newsletter_wrapper p {
    padding: 1.3em;
    font-size: 3.5vw;
    line-height: 5vw;
  }

  .input-field {
    width: 73vw;
    margin: 0em;
    margin-bottom: 0.8em;
  }

  .input-field input {
    font-size: 3.6vw;
    margin: 0px 0px 0px 5vw;
  }

  .enviar button {
    height: 3em;
    width: 7.5em;
  }

}



/* media queries menu movil */
@media screen and (max-width: 700px) {
  #menu > ul > li:last-child {
    display: block;
  }

  #menu > ul > li:not(:last-child) {
    display: none;
  }

  #menu > ul {
    height: auto;
    padding: 1em;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0em;
  }

  #menu > ul > li {
    margin: 0.2em 0;
  }
}
