*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Sora', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color-negro-texto: #1C1A31;
    --color-morado-boton: #5E239D;
    --color-rosa-hover: #F61067;
    --color-blanco-fondo: #F4F4ED;
    --color-verde-links: #00F0B5;
}

li{
    list-style: none;
}


/* PRIMERA SECCION */
.build-a-xmas{
    display: flex;
    flex-direction: column;
    padding: 4em;
}
.build-a-xmas-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.first-imgs-merch{
    display: flex;
    flex-direction: row;
    object-fit: contain;
    width: 90vw;
}
.square-stars{
    width: 30vw;
    height: 43vw;
    background-color: var(--color-rosa-hover);
    border-radius: 50px;
    overflow: hidden;
}
.star{
    position: relative;
    height: 29vh;
    overflow: hidden;
    left: 20px;
}
.stars{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    height: 40vh;
    right: 0;
    border-radius: 50px;
}
.star-1{
    height: 22vw;
    top: 16vw;
    left: -2vw;
    z-index: 3;
}
.star-2{
    height: 37vw;
    top: -28vw;
    left: -6vw;}
.stars-1{
    height: 30vw;
    top: 1vw;
    z-index: 4;
    right: 44vw;
}
.stars-2{
    top: 20vw;
    height: 23vw;
    right: 40vw;
    z-index: 5;
}
.stars-3{
    height: 18vw;
    top: 32vw;
    right: 44vw;
    transform: rotate(22deg);
    z-index: 6;
}
.text-btn-eme-de-amores{
    display: flex;
    flex-direction: column;
    margin-left: 23vw
}
.txt-eme{
    display: flex;
}
.h4-eme{
    font-size: 6vw;
}
.ver-colec{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 3em;
}
.btn-ver-coleccion{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    height: 6vw;
    width: 30vw;
}
.btn-ver-coleccion > p{
    font-size: 3vw;
    margin: 0;
}
.btn-ver-coleccion > img{
    height: 3vw;
}

/* GALERIA */
h3{
    font-size: 8vw;
    font-weight: 800;
}
.sec-merch>div:first-child{
    display: flex;
    flex-direction: row;
    gap: 4vw;
    margin-left: 3em;
    margin-top: 3em;
    margin-bottom: 2vw;
}
.sec-merch>div:first-child > img{
    width: 6vw;
    position: relative;
    top: -0.4em;
}
.color-circulo{
    border: black;
    border-radius: 20px;
}
.album{
    padding-top: 4em;
    display: flex;
    padding-top: 4em;
    justify-content: center;
    flex-direction: column;
}
.col {
    display: flex;
    gap: 5vw;
}
.container{
    display: flex;
    flex-direction: column;
    margin-left: 6vw;
    align-items: center;
}
.row-2{
    margin-top: 8em;
}


/* IMAGENES */
.img-general {
    height: 20vw;
}
#img-parent{
    position: relative;
}
.img1{
    position: relative;
    z-index: 2;
}
.img2{
    position: absolute;
    z-index: 1;
    left: -2em;
    height: 26vw;
    bottom: 18px;
}
.img-modal-producto{
    height: 40em;
    top: 2em;
}
.img-modal-estrella{
    height: 40em;
    bottom: 7em
}








/* ventana modal */

.modal{
    width: 100%;
    --bs-modal-width: 90%;
    --bs-modal-border-radius: 30px;
    --bs-modal-header-padding: 2em 2rem;
}
.modal-header {
    border-bottom: none;
}
.modal-dialog{
    width: 100%;
}
.modal-content {
    background-color: var(--color-blanco-fondo);
}
.modal-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 11em;
}
.texto-modal{
    display: flex;
    flex-direction: column;
}
.seleccion{
    display: flex;
    flex-direction: column;
    padding: 1em 0em;
}
.h1-seleccion{
    font-weight: 800;
}
.h2-seleccion{
    font-size: 1.2em;
}


.modal-1{
    display: none;
}

/* BOTONES COLOR */
.btn-color{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 30px;
}
.btn-color-1{
    background-color: var(--color-rosa-hover);
}
.btn-color-2{
    background-color: var(--color-morado-boton);
}
.btn-color-3{
    background-color: var(--color-verde-links);
}
.btn-color-4{
    background-color: var(--color-blanco-fondo);
    border: var(--color-rosa-hover) solid 2px;
}
.btn-color-5{
    background-color: var(--color-negro-texto);
}
.lista-btn{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

/* BOTONES TALLA */
.btn-talla{
    border: var(--color-rosa-hover) solid 2px;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
}
.btn-talla:hover{
    background-color: var(--color-rosa-hover);
    color: var(--color-blanco-fondo);
}

/* BOTONES CANTIDAD */
.btn-cantidad{
    border: var(--color-rosa-hover) solid 2px;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}
.btn-cantidad-menos{
    align-items: flex-start;
}
.btn-cantidad:hover{
    background-color: var(--color-rosa-hover);
    color: var(--color-blanco-fondo);
}

/* BOTONES CANTIDAD */
.btn-comprar{
    display: flex;
    padding: 2em 0em;
}
.btn-primary{
    --bs-btn-hover-bg: none;
    --bs-btn-active-bg: none;
    --bs-btn-bg: none;
    --bs-btn-border-color: none;    
}
.btn-secondary{
    border-radius: 30px;
    --bs-btn-bg: var(--color-rosa-hover);
    --bs-btn-border-color: none;
}



.flecha-merch-btn{
    width: 8%;
}
.card-body{
    display: none;
}