*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Sora', sans-serif;
    scroll-behavior: smooth;
    color: #1C1A31;
}

:root {
    --color-negro-texto: #1C1A31;
    --color-morado-boton: #5E239D;
    --color-rosa-hover: #F61067;
    --color-blanco-fondo: #F4F4ED;
    --color-verde-links: #00F0B5;
}

body{
    background-color: #F4F4ED;
}

.sectionaboutus{
    display: flex;
    flex-direction: row;
    margin: 3em;
}

.aboutustext{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.aboutustext h1{
    font-weight: 800;
    font-size:5em;
    margin-block-end: 0em;
    margin-block-start: 0em;
    display: inline-block;
    vertical-align: baseline;
    margin: 0;
    margin-bottom: 1em;
}

.aboutustext img{
    width: 70px;
    margin-left: 0.3em;
    vertical-align: baseline;
}

.aboutustext p{
    margin-right: 5em;
    font-size: 1.2em;
}

.churrourban{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.imagen_fondo{
background-image: url(../media/img/fachada.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: 35em;
margin-bottom: 6em;

}


.titulo_banner{
    color: #F4F4ED;
    text-align: center;
    margin: 0;
}

.botonparallax{
text-align: center;
padding-top: 14.5em;
}

.botonparallax button{
    width: 15em;
    height: 3em;
    border-radius: 2em;
}

.btn-outline-secondary{
    background-color: #F61067;
    color: #F4F4ED;
    border-style: none;
}

.btn-outline-secondary:hover{
    background-color: #F4F4ED;
    color: #F61067;
    border-style: solid;
    border-color: #F61067;
    border-width: 2px;

   
}

.botonparallax img{
    width: 20px;
    margin-left:0.7em;
    color: #F4F4ED;
    
}

.btn-outline-secondary:hover img {
    /* Filtro para cambiar el color a rojo cuando haces hover */
    filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(7475%) hue-rotate(0deg) brightness(95%) contrast(105%);
}


  /* carruselgaleria */

.reviews{
    margin: 3em;
}

.sectionreview {
    padding: 70px 0;
	height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 25em;
    margin: 3em;
    overflow-x: hidden;
    white-space: nowrap;
}

.owl-carousel .owl-stage{
    display: flex;
}
.owl-carousel .owl-item {
    width: 100%;
  }

  .card {
    flex: 0 0 auto;
    margin-right: 20px;
  }
  
  .box {
    text-align: center;
  }

.reviewtext h1{
    font-weight: 800;
    font-size: 5em;
    margin-block-end: 0em;
    margin-block-start: 0em;
    margin: 0;
    margin-bottom: 1em;
}

.box{
    display: flex;
    flex-direction: column;
}
.carrusel{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
    padding: 0;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
  
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 250px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.sectionreview .carrusel .card {
    background: #222;
	border-radius: 50px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
	cursor: pointer;
    transition: all 0.3s ease;
    width: 30%;
}

.sectionreview .carrusel  .card:hover {
    background: #00BCD4;
}

.sectionreview .carrusel  .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.sectionreview .carrusel .card:hover .box {
    transform: scale(1.05);
}

.sectionreview .carrusel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.sectionreview .carrusel img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #00BCD4;
    transition: all 0.3s ease;
}

.sectionreview .carrusel .card:hover img {
    border-color: #fff;
}

.sectionreview {
    display: flex; /* Hace que los elementos dentro de la sección se alineen en una fila */
    overflow-x: scroll; /* Permite el desplazamiento horizontal si las tarjetas no caben en la pantalla */
  }
  
  .carrusel {
    display: flex; /* Alinea las tarjetas en una fila dentro del carrusel */
  }
  
  .card {
    flex: 0 0 auto; /* Hace que las tarjetas no se expandan y mantengan su tamaño original */
    margin-right: 20px; /* Espaciado entre tarjetas */
  }
  
  .box {
    text-align: center; /* Centra el contenido dentro de cada tarjeta */
  }