*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Sora', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color-negro-texto: #1C1A31;
    --color-morado-boton: #5E239D;
    --color-rosa-hover: #F61067;
    --color-blanco-fondo: #F4F4ED;
    --color-verde-links: #00F0B5;
}

header {
    height: auto;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--color-rosa-hover);
}

header > p {
    max-width: 600px;
    margin: auto;
}

main {
    background-color: var(--color-blanco-fondo);
}

/* CÓDIGO DEL NAV >>>>>>>>>>>>>>>>>>>>>>>>>*/

nav {
    height: 4em;
    margin: 2em;
    background-color: var(--color-blanco-fondo);
    border: 2px solid #1C1A31;
    border-radius: 50px;

    display: block;
    z-index: 999;
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 1em;
}

#logo {
    float: left;
    width: 30%;
    align-content: flex-start;
    margin-top: 0.4em;
}

#logo > img {
    height: 5em;
    position: absolute;
    top: 1.5em;
    left: 70px;
}

#menu > ul {
    width: 70%;
    height: 3em;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0em;
    margin-top: 0.4em;
}

#menu > ul > li {
    list-style: none;
}

#menu > ul > li > button {
    height: 2em;
    padding: 0 1em;
    background-color: #F61067;
    border: 2px solid #F61067;
    border-radius: 50px;
}

#menu > ul > li > button > a {
    color: var(--color-blanco-fondo);
    text-decoration: none;
}

#menu > ul > li > button:hover {
    background-color: var(--color-blanco-fondo);

}

#menu > ul > li > button:hover > a {
    color: var(--color-rosa-hover);
    font-weight: bold;
}

#menu > ul > li > a,
#menu > ul > li > i {
    color: var(--color-negro-texto);
    text-decoration: none;
}

#menu > ul > li:last-child {
    display: none;
}

.toggle_menu {
    display: none;
}

.toggle_menu > ul {
    margin: 1em 0;
    width: 50%;
    float: right;

    display: flex;
    flex-direction: column;
}

.toggle_menu > ul > li {
    background-color: var(--color-blanco-fondo);
    border: 2px solid #1C1A31;
    border-radius: 50px;
    list-style: none;

    height: 3em;
    margin: 0.5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle_menu > ul > li > a {
    
    text-decoration: none;
    margin: 0 2em;
    color: var(--color-negro-texto);
}

.toggle_menu > ul > li:hover > a,
#menu > ul > li:hover > a {
    font-weight: bold;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

#portada_home {
    margin: 1em 2em 0 2em;
    padding: 2em 1em;
    min-height: calc(100vh - 15em);

    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-blanco-fondo);
    border-radius: 30px 30px 0 0;
}

#portada_home > div.row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
}

#portada_home > div.row > div.col > img:first-child {
    display: flex;
    align-self: flex-start;
}

#portada_home > div.row > div.col > img:last-child {
    display: flex;
    align-self: flex-end;
}

#portada_home img.starL {
    height: 15em;
}

#portada_home img.starM {
    height: 10em;
}

#portada_home img.starS {
    height: 6em;
}

#portada_home > div.row > div.col-5 > img.logo_header {
    height: auto;
    width: 65%;
}

#portada_home > div.row > div.col-5 > img.gato_header {
    height: 30%;
    position: absolute;
    z-index: 3;
    bottom: 11%;
    left: 30%;
}

.twostars {
    display: flex;
}

div.marquee {
    margin-top: 1em;
    z-index: 1;
    bottom: 0;
    overflow: hidden;
    background-color: var(--color-rosa-hover);
}

ul.marquee_content {
    list-style: none;
    display: flex;
    animation: scrolling 10s linear infinite;
    padding-top: 0.5em;
}

li.marquee_item {
    flex-shrink: 0;
}

li.marquee_item > h2 {
    font-size: 4em;
    color: var(--color-blanco-fondo);
}

@keyframes scrolling {
    0% { transform: translateX(0) }
    100% { transform: translateX(-100%) }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* EMPIEZA CÓDIGO SECCIÓN INTRO */

#intro {
    background-color: var(--color-blanco-fondo);
}

#text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0 2em;
    padding: 1em 0;
}

#text > div {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#text h3 {
    font-size: 8em;
    font-weight: bolder;
    padding-right: 0.5em;
}

div.text_img {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
}

div.text_img > img {
    width: 20%;
}

h3.LED_rosa:hover {
    color: var(--color-rosa-hover);
    text-shadow:
    
    0 0 7px #F4F4ED,
    0 0 10px #F4F4ED,
    0 0 21px #F4F4ED,
    
    0 0 42px #F61067,
    0 0 82px #F61067,
    0 0 92px #F61067,
    0 0 102px #F61067,
    0 0 151px #F61067;
}

h3.LED_verde:hover {
    color: var(--color-verde-links);
  text-shadow:
    
    0 0 7px #F4F4ED,
    0 0 10px #F4F4ED,
    0 0 21px #F4F4ED,
    
    0 0 42px #00F0B5,
    0 0 82px #00F0B5,
    0 0 92px #00F0B5,
    0 0 102px #00F0B5,
    0 0 151px #00F0B5;
}

h3.LED_morado:hover {
    color: var(--color-morado-boton);
  text-shadow:
    
    0 0 7px #F4F4ED,
    0 0 10px #F4F4ED,
    0 0 21px #F4F4ED,
    
    0 0 42px #5E239D,
    0 0 82px #5E239D,
    0 0 92px #5E239D,
    0 0 102px #5E239D,
    0 0 151px #5E239D;
}

div#starLine {
    display: none;
}

div#starGroup {
    display: flex;
    flex-direction: row;
}

div#starGroup > img {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: -140%;
}

div#starGroup > img:last-child {
    display: none;
}

/* //////////////////////////////////////// */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* EMPIEZA CÓDIGO SECCIÓN BOTONES */

#botones {
    background-color: var(--color-blanco-fondo);
    
}

div.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

div.container-center > div.row {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.container-center > div.row > div.column {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.column img.starM {
    width: 15em;
    display: flex;
    align-self: flex-start;
    justify-content: right;

    position: absolute;
    z-index: 1;
    bottom: -190%;
}

div.column img.starM.purple {
    right: 70%;
}

div.column img.starM.green {
    right: 35%;
}

div.column img.starM.pink {
    right: 0%;
}

div.column img.starS {
    width: 8em;
    display: flex;
    align-self: flex-end;
    justify-content: left;

    position: absolute;
    z-index: 3;
    margin: 8% 18%;
}

div.cuadrado {
    margin-bottom: 1em;
    width: 15em;
    height: 10em;
    background-color: var(--color-blanco-fondo);
    border: 3px solid #1C1A31;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
}

div.cuadrado > h2 {
    font-size: 2em;
    font-weight: bolder;
    color: #1C1A31;
    text-align: center;

    display: flex;
    justify-content: center;
    align-self: center;
}

div.column button {
    padding: 1em;
    margin-top: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div.column button > a {
    text-decoration: none;
    color: #F4F4ED;
    font-weight: 400;
    font-size: 2em;
    padding-right: 0.5em;
}

div.column button.morado {
    border: 2px solid #5E239D;
    border-radius: 40px;
    background-color: #5E239D;
}

div.column button.morado:hover {
    background-color: #F4F4ED;
}

div.column button.morado:hover > a {
    color: #5E239D;
    font-weight: bold;
}

button.morado:hover > svg > path {
    stroke: #5E239D;
    stroke-width: 4;
}

div.column button.verde {
    border: 2px solid #00F0B5;
    border-radius: 40px;
    background-color: #00F0B5;
}

div.column button.verde:hover {
    background-color: #F4F4ED;
}

div.column button.verde:hover > a {
    color: #00F0B5;
    font-weight: bold;
}

button.verde:hover > svg > path {
    stroke: #00F0B5;
    stroke-width: 4;
}

div.column button.rosa {
    border: 2px solid #F61067;
    border-radius: 40px;
    background-color: #F61067;
}

div.column button.rosa:hover {
    background-color: #F4F4ED;
}

div.column button.rosa:hover > a {
    color: #F61067;
    font-weight: bold;
}

button.rosa:hover > svg > path {
    stroke: #F61067;
    stroke-width: 4;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* EMPIEZA CÓDIGO SECCIÓN COMMUNITY */

section#community {
    min-height: 100vh;
    background-color: var(--color-blanco-fondo);
}

div.section_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 3em 3em;
}

div.section_title > h1 {
    font-size: 6em;
    font-weight: bolder;
    
}

div.section_title > h1.LED_rosa:hover {
    color: var(--color-rosa-hover);
    text-shadow:
    
    0 0 7px #F4F4ED,
    0 0 10px #F4F4ED,
    0 0 21px #F4F4ED,
    
    0 0 42px #F61067,
    0 0 82px #F61067,
    0 0 92px #F61067,
    0 0 102px #F61067,
    0 0 151px #F61067;
}

div.section_title img.LED_flecha {
    height: 6em;
}

div#gallery_community.horizontal-scroll {
    margin-top: 300px;
  
}


  
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
  
  
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}
  
.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

#community div.row {
    width: 90%;
}

div.card {
    border: none;
    background-color: var(--color-blanco-fondo);
}

div.card-img {
    display: flex;
    justify-content: center;
}

div.card-img > img {
    border-radius: 30px;
    width: 95%;
    height: auto;
}

.carousel-control-next, .carousel-control-prev {
    width: 10%;
    
}

/* @media (max-width: 767px) {
    
} */



/* /////////////////////////////////////////// */

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
    #text h3 {
        font-size: 7em;
    }

    div#starGroup > img {
        width: 35%;
        bottom: -115%;
    }

    div.column img.starM {
        bottom: -175%;
    }

    div.row {
        margin: 0 1em;
        width: 90%;
    }

    div.cuadrado {
        margin-right: 1em;
    }

    div.column button {
        margin-top: 80%;
    }
}

@media screen and (max-width: 1000px) {
    #portada_home img.starL {
        height: 13em;
    }
    
    #portada_home img.starM {
        height: 8em;
    }
    
    #portada_home img.starS {
        height: 5em;
    }

    #portada_home > div.row > div.col-5 > img.logo_header {
        width: 80%;
    }

    #portada_home > div.row > div.col-5 > img.gato_header {
        bottom: 13%;
    }

    div#starGroup > img {
        bottom: -105%;
    }

    div.cuadrado {
        width: 12em;
    }

    div.cuadrado > h2 {
        font-size: 1.5em;
    }

    div.column button > a {
        font-size: 1em;
    }
}

@media screen and (max-width: 950px) {
    #text h3 {
        font-size: 6em;
    }

    div#starGroup > img {
        bottom: -95%;
    }

    div.cuadrado {
        width: 11em;
        height: 9em;
    }

    div.column img.starS {
        width: 6em;
        margin: 9% 17%;
    }

    div.column img.starM {
        width: 13em;
        bottom: -160%;
    }

    div.column img.starM.green {
        right: 32%;
    }

    div.column img.starM.purple {
        right: 63%;
    }

    div.section_title > h1 {
        font-size: 5em;
    }
    
    div.section_title img.LED_flecha {
        height: 5em;
    }
}


@media screen and (max-width: 850px) {
    #portada_home img.starL {
        height: 10em;
    }
    
    #portada_home img.starM {
        height: 6em;
    }
    
    #portada_home img.starS {
        height: 3em;
    }

    #portada_home > div.row > div.col-5 > img.logo_header {
        width: 80%;
    }

    #portada_home > div.row {
        padding-top: 5%;
    }

    #portada_home > div.row > div.col-5 > img.gato_header {
        left: 20%;
    }

    #text h3 {
        font-size: 5em;
    }

    div#starGroup > img {
        bottom: -80%;
    }

    div.column img.starM {
        bottom: -145%;
    }

    div.column button {
        margin-top: 80%;
    }

    div.cuadrado {
        height: 7em;
    }

    div.cuadrado > h2 {
        font-size: 1em;
    }

    div.column img.starS {
        width: 4em;
        margin: 9% 19%;
    }

    div.column img.starM {
        width: 10em;
        bottom: -140%;
    }

    div.column img.starM.green {
        right: 32%;
    }

    div.column img.starM.purple {
        right: 63%;
    }
}

@media screen and (max-width: 700px) {

    #menu > ul > li:last-child {
        display: block;
    }

    #menu > ul > li:not(:last-child) {
        display: none;
    }

    #menu > ul {
        height: auto;
        padding: 1em;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 0em;
    }

    #menu > ul > li {
        margin: 0.2em 0;
    }

    #portada_home > div.row > div.col-5 > img.logo_header {
        width: 85%;
        padding-left: 10%;
    }

    #portada_home img.starS,
    #portada_home img.starM,
    #portada_home img.starL {
        padding: 0.5em 0.5em 0.5em 0;
    }

    #portada_home > div.row > div.col:first-child {
        display: none;
    }

    #portada_home > div.row > div.col-5 > img.gato_header {
        left: 10%;
        height: 25%;
    }

    .col-5 {
        width: 60%;
    }

    #portada_home img.starL {
        height: 12em;
    }
    
    #portada_home img.starM {
        height: 8em;
    }
    
    #portada_home img.starS {
        height: 6em;
    }

    #text h3 {
        font-size: 4em;
    }

    div#starGroup > img {
        bottom: -70%;
    }

    #botones > div > div.row {
        flex-direction: column;
        align-items: center;
    }

    div.column img.starM.green {
        right: 28%;
        bottom: -135%;
    }

    div.column img.starM.purple {
        right: 28%;
        bottom: -100%;
    }

    div.column img.starM.pink {
        right: 28%;
        bottom: -172%;
    }

    div.column > button {
        margin-bottom: 4em;
        margin-top: 90%;
    }

    #text {
        padding-bottom: 4em;
    }

    div.section_title > h1 {
        font-size: 4em;
    }
    
    div.section_title img.LED_flecha {
        height: 4em;
    }

    .carousel-inner .carousel-item > div {
        display: none;
    }

    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }

    #community div.row {
        width: 100%;
    }

    .row>* {
        width: 60%;
    }

    div.card-img > img {
        width: 100%;
    }

    .carousel-control-next {
        width: 45%; 
    }

    .carousel-control-prev {
        width: 25%; 
    }
}

@media screen and (max-width: 600px) {
    .col-5 {
        width: 50%;
    }

    #portada_home > div.row > div.col-5 > img.logo_header {
        width: 100%;
        padding-top: 10%;
    }

    #text h3 {
        font-size: 3em;
    }

    div#starGroup > img {
        bottom: -60%;
    }

    div.column img.starM.purple {
        bottom: -90%;
        right: 20%;
    }

    div.column img.starM.green {
        bottom: -130%;
        right: 20%;
    }

    div.column img.starM.pink {
        bottom: -172%;
        right: 20%;
    }

    div.column > button {
        margin-top: 100%;
        margin-bottom: 6em;
    }

    #text {
        padding-bottom: 6em;
    }

    div.column img.starS {
        margin: 12% 20%;
    }

    div.section_title > h1 {
        font-size:3em;
    }
    
    div.section_title img.LED_flecha {
        height: 3em;
    }
}

@media screen and (max-width: 550px) {
    div.column img.starM.purple {
        bottom: -86%;
        right: 20%;
    }

    div.column img.starM.green {
        bottom: -127%;
        right: 20%;
    }

    div.column img.starM.pink {
        bottom: -170%;
        right: 20%;
    }

    div.column > button {
        margin-top: 125%;
    }

    .carousel-control-next {
        width: 35%;
    }
}

@media screen and (max-width: 500px) {
    #portada_home > div.row {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    #portada_home img.starL {
        height: 10em;
    }
    
    #portada_home img.starM {
        height: 6em;
    }
    
    #portada_home img.starS {
        height: 3em;
    }

    li.marquee_item > h2 {
        font-size: 2em;
    }

    div.marquee {
        width: 100%;
    }

    .col-5 {
        width: 60%;
    }

    #portada_home > div.row > div.col-5 > img.gato_header {
        bottom: 12%;
        height: 30%;
    }

    #portada_home > div.row > div.col-5 > img.logo_header {
        width: 100%;
        padding: 0;
    }

    #portada_home > div.row > div.col:last-child {
        position: absolute;
        bottom: 15%;
        padding-left: 40%;
    }

    #portada_home img.starS,
    #portada_home img.starM,
    #portada_home img.starL {
        padding: 0;
    }

    #portada_home img.starL {
        height: 8em;
    }

    div#text  h3 {
        font-size: 3em;
    }

    div#starLine {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    div#starLine > img {
        margin-top: 1em;
        height: 6em;
    }
    
    div#starGroup > img:last-child {
        display: block;
        width: 30%;
        position: absolute;
        bottom: -55%;
    }
    
    div#starGroup > img:nth-child(2) {
        display: none;
    }

    div.text_img > img {
        display: none;
    }

    div.column > button {
        margin-top: 140%;
        margin-bottom: 8em;
    }

    div.column img.starM.purple {
        bottom: -95%;
        right: 20%;
    }

    div.column img.starM.green {
        bottom: -145%;
        right: 20%;
    }

    div.column img.starM.pink {
        bottom: -193%;
        right: 17%;
    }

    #text {
        padding-bottom: 8em;
    }

    div.column img.starS {
        margin: 15% 25%;
    }

    div.section_title > h1 {
        font-size: 2em;
    }
    
    div.section_title img.LED_flecha {
        height: 2em;
    }

    .row>* {
        width: 70%;
    }
    
}

@media screen and (max-width: 450px) {

    div.column > button {
        margin-top: 160%;
        margin-bottom: 8em;
    }

    div.column img.starM.purple {
        bottom: -105%;
        right: 15%;
    }

    div.column img.starM.green {
        bottom: -152%;
        right: 15%;
    }

    div.column img.starM.pink {
        bottom: -200%;
        right: 12%;
    }
}

@media screen and (max-width: 400px) {

    .col-5 {
        width: 80%;
    }

    #portada_home > div.row > div.col-5 > img.gato_header {
        height: 25%;
        left: 15%;
        bottom: 10%;
    }

    #portada_home img.starL {
        height: 6em;
    }

    #portada_home img.starM {
        height: 4em;
    }
    
    div#starGroup > img:last-child {
        bottom: -50%;
    }

    div#text  h3 {
        font-size: 2.5em;
    }

    div.column > button {
        margin-top: 190%;
        margin-bottom: 8em;
    }

    div.column img.starM.purple {
        bottom: -90%;
        right: 10%;
    }

    div.column img.starM.green {
        bottom: -138%;
        right: 10%;
    }

    div.column img.starM.pink {
        bottom: -187%;
        right: 8%;
    }
    
}

@media screen and (max-width: 385px) {

    div.column > button {
        margin-top: 205%;
        margin-bottom: 6em;
    }

    div.column img.starM.purple {
        bottom: -95%;
        right: 6%;
    }

    div.column img.starM.green {
        bottom: -141%;
        right: 6%;
    }

    div.column img.starM.pink {
        bottom: -182%;
        right: 4%;
    }

    div.column img.starS {
        margin: 20% 25%;
    }
}