*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Sora', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color-negro-texto: #1C1A31;
    --color-morado-boton: #5E239D;
    --color-rosa-hover: #F61067;
    --color-blanco-fondo: #F4F4ED;
    --color-verde-links: #00F0B5;
}

li{
    list-style: none;
}

/* PRIMERA SECCION */
.build-a-xmas{
    display: flex;
    flex-direction: column;
    padding: 4em;
}
.build-a-xmas-2{
    display: flex;
    flex-direction: row;
}
.first-imgs-merch{
    display: flex;
    flex-direction: row;
    object-fit: contain;
    width: 55%;
    height: 70vh;
}
.square-stars{
    width: 36%;
    background-color: var(--color-rosa-hover);
    border-radius: 50px;
    overflow: hidden;
}
.star{
    max-width: 100%;
    max-height: 100%;
    position: relative;
    height: 29vh;
    overflow: hidden;
    left: 20px;
}
.stars-2{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    height: 40vh;
    right: 0;
    border-radius: 50px;
}
.text-btn-eme-de-amores{
    display: flex;
    flex-direction: column;
}




/* ventana modal */

.modal{
    width: 100%;
    --bs-modal-width: 90%;
}
.modal-dialog{
    width: 100%;
}
.modal-content {
    background-color: var(--color-blanco-fondo);
}

.btn-secondary {
    --bs-btn-bg: var(--color-rosa-hover);
    --bs-btn-border-color: none;
}

.flecha-merch-btn{
    width: 8%;
}



.img-btn{
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
}
.card-body{
    display: none;
}